header{
    height: 100vh;
    background-image: url("../img/banner.png");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.container-header{
    position: absolute;
    top: 40%;
    left: 0;
    text-align: center;
    height: 100vh;
}

.image-container h1{
    font-size: 80px;
}

.image-container, .text-container{
    color: aliceblue;
}

.ul-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicios{
    background-color: rgb(214, 121, 58);
}

.negocio{
    padding: 5% 2% 5% 2%;
    background-color: rgb(214, 121, 58);
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    text-align: center;
    background-color: rgb(214, 121, 58);
    color: aliceblue;
}

.card-img-top{
    height: 50px;
    width: 50px;
    filter: invert(1);
}

#materia{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 3% 10% 3%;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-materiaPrima{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-materiaPrima p{
    text-align: center;
}

.hr-heading{
    width: 50px;
    height: 10px;
    background-color: rgb(242, 169, 66);
    color: white;
}

#banner-inferior{
    width: 98.5vw;
    height: 60vh;
    background-image: url("../img/banner-inferior.jpg");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

.contacto{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(68, 69, 70);
    color: white;
}

.contenido-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tel-correo{
    display: flex;
    gap: 10px;
}

a{
    text-decoration: none;
    color: white;
}

.footer{
    height: 50vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

.copyright{
    background-color: black;
    color: white;
    text-align: center;
}

  #btn-volver-arriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: none;
    z-index: 200;
  }

@media (min-width: 992px) {
    #navbarScroll{
        display: flex;
        justify-content: flex-end;
    }
}

@media (min-width: 600px) {
    .container-header{
        position: absolute;
        top: 40%;
        left: 5%;
        right: 5%;
    }
}

@media (max-width: 600px) {
    .card-group{
        display: flex;
        flex-direction: column;
    }
}