header{
    height: 100vh;
    background-image: url("../img/banner.png");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.container-header{
    position: absolute;
    top: 40%;
    left: 0;
    text-align: center;
    height: 100vh;
}

.image-container h1{
    font-size: 80px;
}

.image-container, .text-container{
    color: aliceblue;
}

.ul-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicios{
    background-color: rgb(214, 121, 58);
}

.negocio{
    padding: 5% 2% 5% 2%;
    background-color: rgb(214, 121, 58);
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    text-align: center;
    background-color: rgb(214, 121, 58);
    color: aliceblue;
}

.card-img-top{
    height: 50px;
    width: 50px;
    filter: invert(1);
}

@media (min-width: 992px) {
    #navbarScroll{
        display: flex;
        justify-content: flex-end;
    }
}